<ion-modal-view>
	<ion-header-bar align-title="middle" class="bar-positive">
  	<div class="buttons">
    	<button class="button button-icon icon ion-android-close" ng-click="modal.hide()"></button>
		</div>
		<h1 class="title">筛 选</h1>
<!-- 		<div class="buttons">
      <button class="button" ng-click="moreOfThisPatient()">更多</button>
    	<button class="button button-icon icon ion-android-done" ng-click="moreOfThisPatient()"></button>
		</div> -->
	</ion-header-bar>
  <div class="bar-shadow"></div>
 	<ion-content scroll='true'>
<div class="list">
  <div class="item item-divider">{{patient.UserName}}<span style="padding-left:12%"></span>{{patient.GenderText}}<span style="padding-left:10px"></span>{{patient.Age}}</div>

  <a class="item">
    <!-- <i class="icon ion-mic-a"></i> -->
    所选模块
    <span class="item-note">
      {{consultation.Module}}
    </span>
  </a>
  <a class="item">
    <!-- <i class="icon ion-mic-a"></i> -->
    所选医生
    <span class="item-note">
      {{consultation.DoctorName}}
    </span>
  </a>
  <a class="item">
    <!-- <i class="icon ion-mic-a"></i> -->
    紧急程度
    <span class="item-note">
      {{consultation.Emergency | emergency}}
    </span>
  </a>
  <a class="item" style="background-color: #f5f5f5">
  </a>
  <a class="item">
    时间：consultation.ConsultTime
  </a>
  <a class="item">
    主题：{{consultation.Title}}
  </a>
  <a class="item">
    正文：{{consultation.Description}}
  </a>
  <a class="item">
    处理状态：{{consultation.Status | supportstatus}}
  </a>
  <a class="item" ng-if="consultation.Status>3">
    答复：{{consultation.Solution}}
  </a>

</div>
<a class="button button-block button-stable" ng-click="modal.hide()" href="#/supportList/{{consultation.patientId}}">查看病人相关内容</a>
  </ion-content>
</ion-modal-view>