<ion-view view-title="Calendar" hide-nav-bar="true">

<ion-header-bar class="bar bar-positive">
  <button class="button button-icon icon ion-arrow-left-c" ng-click="onClickBackward()"></button>
  <div class="h1 title">个人日程</div>
  <button class="button button-icon icon ion-android-refresh" ng-click="onClickRefresh()"></button>
</ion-header-bar>

<ion-content class=" padding" >

<p>今日进度 {{today.todayHasFinished}} / {{today.todayToBeFinished}}</p>
<div class ="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="calendar" ng-if = "loadingDone" disableTap></div>

</ion-content>
</ion-view> 


<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class = "bar-positive">
      <div class="button button-clear" ng-click = "onClickAdd()">添加</div>
      <h1 class="title">添加日程</h1>
      <div class="button button-clear" ng-click = "onClickCancel()">取消 </div>
    </ion-header-bar>
    <ion-content class ="padding">
      <div class ="calendar-modal"ui-calendar="uiConfig.calendar2" class="span8 calendar" ng-model="eventSources" ng-if = "loadingDone2" ></div>

      <div class="item item-divider item-divider-calm"> 新增 </div> 



  <label class="item item-input item-select">
    <div class="input-label">
      选择日期（未来30天）
    </div>
    <select ng-model = "data.selectedDate">
      <option ng-repeat =  "item in datesOptions" >{{item.toLocaleDateString()}}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      选择时间
    </div>
    <select ng-model = "data.selectedTime">
      <option selected>上午</option>
      <option >下午</option>
      <option >晚上</option>
    </select>
  </label>
    </ion-content>
  </ion-modal-view>
</script>