<ion-view view-title="个人信息" hide-nav-bar="true">
  <ion-header-bar class="bar bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="onClickBackward()"></button>
    <div class="h1 title">个人信息</div>

        <button class="button button-icon icon ion-checkmark-round" ng-click="onClickSave()"></button>
  </ion-header-bar>
  <ion-content >
    <div class="list">
      <div class="item item-thumbnail-left item-icon-right" ng-click = "onClickChangeHead()">
        <img src="{{imgURI}}" alt="Avatar">
        <i class="icon ion-chevron-right"></i>

      </div>

      <div  class="item item-icon-left item-icon-right" ng-click = "onClickEditName()" >
        <i class="icon ion-person"></i>
        {{userInfo.BasicInfo.name}}
        <i class="icon ion-chevron-right"></i>
      </div>

      <ionic-datepicker input-obj="datepickerObject" ng-if = "loadingDone">
      <div  class="item item-icon-left item-icon-right" >
        
        <i class="icon ion-calendar"></i>
        {{userInfo.BasicInfo.birthdayforshow}}
        <i class="icon ion-chevron-right"></i>
        
      </div>
      </ionic-datepicker>
      
      <label class="item item-icon-left item-input-right item-select">
        <i class="icon ion-male" ng-show="userInfo.BasicInfo.gender == '男'"></i>
        <i class="icon ion-female" ng-show="userInfo.BasicInfo.gender != '男'"></i>
        <div class="input-label">
          性别
        </div>
      <select ng-options="item.Name for item in dict.SexType" ng-model="userInfo.BasicInfo.gender">
        <option value="">请选择</option>
      </select>
      </label>
      <div class="item item-divider">详细信息</div>
      <label class="item item-icon-left item-input-right item-select">
        <i class="icon ion-home" ></i>
        <div class="input-label">
          工作单位
        </div>
        <select ng-options="item.Name for item in dict.UnitName" ng-model="userInfo.DtInfo.unitname">
        <option value="">请选择</option>     
        </select>   
      </label>

      <label class="item item-icon-left item-input-right item-select">
        <i class="icon ion-person"></i>
        <div class="input-label">
          职务
        </div>
      <select ng-options="item.Name for item in dict.JobTitle" ng-model="userInfo.DtInfo.jobTitle">
        <option value="">请选择</option>
      </select>    
      </label>

      <label class="item item-icon-left item-input-right item-select">
        <i class="icon ion-ios-pulse-strong" ></i>
        <div class="input-label">
          科室
        </div>
      <select ng-options="item.Name for item in dict.Dept" ng-model="userInfo.DtInfo.dept">
        <option value="">请选择</option>
      </select>            
      </label> 

      <label class="item item-icon-left item-input-right item-select">
        <i class="icon ion-arrow-graph-up-left" ></i>
        <div class="input-label">
          职级
        </div>
         <select ng-options="item.Name for item in dict.TitleLevel" ng-model="userInfo.DtInfo.level">
        <option value="">请选择</option>
      </select>     
      </label>     

      <div class="item item-divider">个人简介</div> 
      <label class="item item-input">
        <textarea placeholder="个人简介" ng-model = "HealthCoachInfo.Description"></textarea>
      </label>    

    </div>
  </ion-content>
</ion-view>