<ion-view view-title="求助医生">   
  <ion-nav-bar  class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button icon button-icon ion-android-arrow-back" ng-click="historyBack()"></button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="right">
      <button class="button icon button-icon ion-help-circled" href="#/docSupport"></button>
    </ion-nav-buttons> -->
  </ion-nav-bar>
    <ion-content class="padding" >

        <hr style="border: 0;border-top:1px solid #bbb"/>
        <div class="list list-inset">
          <label class="item item-input">
            <!-- <i class="icon ion-search placeholder-icon"></i> -->
            <input type="text" placeholder="主题">
          </label>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <!-- <i class="icon ion-search placeholder-icon"></i> -->
            <textarea rows="8" type="text" style="resize:none" placeholder="正文"></textarea>
          </label>
        </div>
        <!-- <div>
        abc
        </div> -->    
    </ion-content>     
</ion-view>