<ion-view cache-view="false" title="慢病信息">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button icon button-icon ion-android-home" ng-click="backtocoach()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button icon button-icon ion-help-circled" href="#/docSupport"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false">
    <div class="top-of-the-content">{{Name}}  {{gender}}  {{age}}</div>
    <ion-list>    
      <a ng-repeat='Module in ModuleInfo' class="item" href="#/manage/ModuleInfo/{{Module.ModuleCode}}" ng-if="Module.Flag">
        {{Module.ModuleName}}
      </a>
    </ion-list>
  </ion-content>
</ion-view>
